@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif​ !important;
}
@media (max-width: 991) {
  .sidebar {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
  }
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.text-decoration {
  text-decoration: none;
}

.dropdown > .dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
  pointer-events: none;
}
.logo-switch-language {
  width: 33px;
}
.nav_icon {
  font-size: 25px;
}
.nav_btn_contact:hover {
  background-color: #0f2f52;
}
.nav_ul {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}
.dropdown-item:hover {
  background-color: #c60a2e;
  color: #ffff;
}
.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: px;
  left: 0;
  padding: 1.25rem;
  border-radius: calc(0.25rem - 1px);
  color: #fff;
}

.text-muted {
  color: #6c757d !important;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.prointix-service .card .card-img-overlay {
  transition: 0.3s;
}

.overlay-dark-orange {
  background-color: rgba(101, 85, 27, 0.5);
  border-radius: 10px;
}
.overlay-cover {
  background-color: rgba(101, 85, 27, 0.5);
  height: 568px;
}
.overlay-software {
  background-color: rgba(56, 83, 124, 0.5);
  border-radius: 10px;
}
.overlay-moblie {
  background-color: rgba(101, 85, 27, 0.5);
  border-radius: 10px;
}
.overlay-desgin {
  background-color: rgba(72, 49, 165, 0.5);
  border-radius: 10px;
}
.overlay-website {
  background-color: rgba(123, 99, 99, 0.5);
}
.prointix-service .card:hover .overlay-desgin {
  background-color: rgba(103, 92, 149, 0.5);
  cursor: pointer;
}
.prointix-service .card:hover .overlay-website {
  background-color: rgba(101, 85, 27, 0.2);
  cursor: pointer;
}
.prointix-service .card:hover .overlay-moblie {
  background-color: rgba(135, 127, 95, 0.5);
  cursor: pointer;
}
.prointix-service .card:hover .overlay-software {
  background-color: rgba(87, 100, 118, 0.5);
  cursor: pointer;
}
.mb-h2 {
  margin-bottom: 13rem;
  text-align: center;
}
.text-muted-member {
  color: #32435c;
}
.span-text-member {
  color: #969696;
}
.swiper-container {
  width: 600px;
  height: 300px;
}
.cart-image {
  position: absolute;
  border-radius: 7px;
}
.how_content {
  padding-top: 140px;
}
.btn-viwe-detail {
  color: #fff;
  border: 1px solid #ffff;
}
.hr_desgin {
  position: absolute;
  right: 47%;
  border: 3px solid;
  background-color: #ffff;
  width: 99px;
}
.overlay-cover-ux-ui {
  background-color: rgba(101, 85, 27, 0.5);
  height: 465px;
}
.overlay-cover-website {
  background-color: rgba(72, 49, 165, 0.5);
  height: 465px;
}
.overlay-cover-mobile {
  background-color: rgba(239, 239, 239, 0.5);
  height: 465px;
}
.overlay-cover-software {
  background-color: rgba(69, 185, 205, 0.452);
  height: 465px;
}
.swiper-button-next {
  top: 300vh;
}
.social-link a {
  width: 36px;
  height: 36px;
  text-align: center;
  text-decoration: none;
  margin: 0 10px;
  color: #000;
  background-color: #fff;
  box-sizing: 0 0 20px 10px rgba(242, 235, 235, 0.966);
  border-radius: 50%;
  align-items: center;
  display: flex;

  justify-content: center;
}
.social-link a .fab {
  font-size: 20px;
<<<<<<< HEAD
  line-height: 30px;
=======
  line-height: 30px; 
}
.prointix img{
  width: 100%;
  object-fit: cover;
  height: 568px;
}

body > main > section:nth-child(4) > div > div.container.mt-5.mb-3 > div > div.swiper-button-prev{
  left: calc(49% - 40px);
  top: 90%;
  color: #ffff;
  background-color: #008080;
  width: 47px;
}
body > main > section:nth-child(4) > div > div.container.mt-5.mb-3 > div > div.swiper-button-next{
  right: calc(49% - 40PX);
  top: 90%;
  color: #ffff;
  background-color: #008080;
  width: 47px;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next :after{
  display: none;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  display: none;
}
.border{
  

  height: 58px;
  width: 120px;
  position: absolute;
  left: 576px;
  background-color: aliceblue;
  bottom: 10px;
>>>>>>> 23f817fce7f4353bdcfdb07a62f0e984f46aa980
}


